.AddButton {
  border-radius: 3px;
  color: #111;
  display: block;
  flex: 1 0 auto;
  margin: 2px 0 8px 8px;
  padding: 4px 8px;
  position: relative;
  text-decoration: none;
  -webkit-user-select: none;
  user-select: none;
  transition: ease-in-out 300ms;
}

.AddButton:hover {
  cursor: pointer;
  transition: ease-in-out 300ms;
  background: #effeec;
}

.AddButton::after {
  content: "+";
  padding: 0 8px;
}
