.Card {
  margin: 2px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
  background: #ffffff;
  max-height: 300px;
  overflow-y: auto;
  transition: ease-in-out 300ms;
  display: flex;
  justify-content: space-between;
}

.Card:hover {
  background: #ffffff50;
  cursor: move;
  transition: ease-in-out 300ms;
}

.Card-Content {
  padding: 4px;
}

.Card-Actions,
.Card-Actions-Edit {
  display: flex;
  flex-direction: column;
  padding: 4px;
  transition: ease-in-out 300ms;
}

.Card-Actions > button :hover {
  transition: ease-in-out 300ms;
}

.Card-Actions > button,
.Card-Actions-Edit > button {
  border: none;
  background: none;
  opacity: 0.3;
  transition: ease-in-out 300ms;
}

.Card-Actions > button:hover,
.Card-Actions-Edit > button:hover {
  cursor: pointer;
  opacity: 0.9;
  transition: ease-in-out 300ms;
}
