.Header {
  margin: 8px;
  padding: 8px;
  background: darkblue;
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.HeaderTitle {
  padding: 8px;
}
